@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$gray-333435: color(gray-333435);
$color-primary: color(primary);
$color-secondary: color(secondary);

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratLight.eot');
  src: url('../assets/fonts/MontserratLight.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratLight.woff2') format('woff2'),
       url('../assets/fonts/MontserratLight.woff') format('woff'),
       url('../assets/fonts/MontserratLight.ttf') format('truetype'),
       url('../assets/fonts/MontserratLight.svg#MontserratLight') format('svg');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratRegular.eot');
  src: url('../assets/fonts/MontserratRegular.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratRegular.woff2') format('woff2'),
       url('../assets/fonts/MontserratRegular.woff') format('woff'),
       url('../assets/fonts/MontserratRegular.ttf') format('truetype'),
       url('../assets/fonts/MontserratRegular.svg#MontserratRegular') format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratMedium.eot');
  src: url('../assets/fonts/MontserratMedium.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratMedium.woff2') format('woff2'),
       url('../assets/fonts/MontserratMedium.woff') format('woff'),
       url('../assets/fonts/MontserratMedium.ttf') format('truetype'),
       url('../assets/fonts/MontserratMedium.svg#MontserratMedium') format('svg');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratSemiBold.eot');
  src: url('../assets/fonts/MontserratSemiBold.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratSemiBold.woff2') format('woff2'),
       url('../assets/fonts/MontserratSemiBold.woff') format('woff'),
       url('../assets/fonts/MontserratSemiBold.ttf') format('truetype'),
       url('../assets/fonts/MontserratSemiBold.svg#MontserratSemiBold') format('svg');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/MontserratBold.eot');
  src: url('../assets/fonts/MontserratBold.eot') format('embedded-opentype'),
       url('../assets/fonts/MontserratBold.woff2') format('woff2'),
       url('../assets/fonts/MontserratBold.woff') format('woff'),
       url('../assets/fonts/MontserratBold.ttf') format('truetype'),
       url('../assets/fonts/MontserratBold.svg#MontserratBold') format('svg');
  font-weight: 700;
}

// Default
*, ::after, ::before {
  box-sizing: border-box;
}

:focus {
  outline-offset: 0;
  outline: 0 none;
}

body {
  background-image: url(~theme/assets/body-bg.jpg);
  background-repeat: repeat;
  background-size: auto;
  background-position: 0 0;
  color: $color-primary;
}

a, button, input[type="submit"], input[type="button"] {
  transition: all 0.3s ease 0s;
}

p {
  margin: 0 0 15px 0;
}

p:last-child {
  margin-bottom: 0;
}

p:empty {
  margin: 0;
}

.site-header {
  color: $white;
}

.site-header a {
  color: $white;

  &.router-link-exact-active,
  &:hover {
    color: $gray-333435;
  }
}

a.underline:after, a:not(.no-underline):hover:after {
  display: none;
}

a {
  color: $color-primary;

  &:hover {
    color: $color-secondary;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.custom-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;

  li {
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      content: "";
      background-image: url(~theme/assets/blue-tick.svg);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: auto;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
}

.shaded-box {
  box-shadow: 0 0 20px rgba($black, 0.08);
  border-radius: 10px;
  background-color: $white;
  padding: 50px 55px;
}

.title-sec {
  background-image: url(~theme/assets/title-bg.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-bottom: 32px;
}

.sec-title {
  font-size: 20px;
}

.sec-subtitle {
  font-size: 16px;
  font-weight: 300;
}

.VueCarousel-dot,
.VueCarousel-navigation-button:focus {
  outline: 0 none !important;
}