<template>
  <div id="home">
    <main-slider />

    <section class="pt40 pb40">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <product-listing-slider class="shaded-box" :title="$t('Hello, Guest')" :sub-title="$t('Recommended Products')" :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 4]]" :product-border-enabled="false" :limit="10" />
          </div>
          <div class="col-md-3 featured-items-sec">
            <product-listing-slider class="shaded-box" :title="$t('Featured Items')" :pagination-enabled="true" :product-border-enabled="false" :limit="5" />
          </div>
        </div>
      </div>
    </section>

    <section class="pb40">
      <div class="container">
        <product-listing-slider class="shaded-box" :title="$t('Recommended For You Only')" :per-page-custom="[[0, 1], [480, 2], [768, 3], [1200, 5]]" :product-border-enabled="false" :limit="10" :see-all-link="'/bf20-mar-online/bf20-ln-mg'" />
      </div>
    </section>

    <promoted-offers />

    <section class="new-collection container px15">
      <div>
        <header class="col-md-12">
          <h2 class="align-center cl-accent">
            {{ $t('Everything new') }}
          </h2>
        </header>
      </div>
      <div class="row center-xs">
        <lazy-hydrate :trigger-hydration="!loading" v-if="isLazyHydrateEnabled">
          <product-listing columns="4" :products="getEverythingNewCollection" />
        </lazy-hydrate>
        <product-listing v-else columns="4" :products="getEverythingNewCollection" />
      </div>
    </section>

    <section v-if="isOnline" class="container pb60 px15">
      <div class="row center-xs">
        <header class="col-md-12" :class="{ pt40: getEverythingNewCollection && getEverythingNewCollection.length }">
          <h2 class="align-center cl-accent">
            {{ $t('Get inspired') }}
          </h2>
        </header>
      </div>
      <tile-links />
    </section>
    <Onboard />
    <section class="let-us-help-sec bg-cl-white">
      <div class="section">
        <div class="container">
          <div class="row middle-xs center-xs">
            <div class="col-xs-12 col-md-4 col-xl-3">
              <h2 class="let-us-help-title">
                {{ $t('Let us help you') }}
                <img class="ml10" src="assets/right-arrow.svg" alt="Right Arrow">
              </h2>
            </div>
            <div class="col-xs-12 col-md-auto">
              <ul class="custom-list">
                <li>How to apply for membership and purchase products</li>
                <li>How to choose a premium</li>
                <li>Payment method</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
// query constructor
import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
import LazyHydrate from 'vue-lazy-hydration'

// Core pages
import Home from '@vue-storefront/core/pages/Home'
// Theme core components
import ProductListing from 'theme/components/core/ProductListing'
// import HeadImage from 'theme/components/core/blocks/MainSlider/HeadImage'
import MainSlider from 'theme/components/core/blocks/MainSlider/MainSlider'
// Theme local components
import Onboard from 'theme/components/theme/blocks/Home/Onboard'
import PromotedOffers from 'theme/components/theme/blocks/PromotedOffers/PromotedOffers'
import TileLinks from 'theme/components/theme/blocks/TileLinks/TileLinks'
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters } from 'vuex'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import ProductListingSlider from 'theme/components/core/blocks/Product/ProductListingSlider'

export default {
  data () {
    return {
      loading: true
    }
  },
  mixins: [Home],
  components: {
    // HeadImage,
    Onboard,
    ProductListing,
    PromotedOffers,
    TileLinks,
    LazyHydrate,
    MainSlider,
    ProductListingSlider
  },
  computed: {
    ...mapGetters('user', ['isLoggedIn']),
    ...mapGetters('homepage', ['getEverythingNewCollection']),
    categories () {
      return this.getCategories
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    }
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  async beforeMount () {
    if (this.$store.state.__DEMO_MODE__) {
      const onboardingClaim = await this.$store.dispatch('claims/check', { claimCode: 'onboardingAccepted' })
      if (!onboardingClaim) { // show onboarding info
        this.$bus.$emit('modal-toggle', 'modal-onboard')
        this.$store.dispatch('claims/set', { claimCode: 'onboardingAccepted', value: true })
      }
    }
  },
  mounted () {
    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')
  },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route }) { // this is for SSR purposes to prefetch data
    Logger.info('Calling asyncData in Home (theme)')()

    await Promise.all([
      store.dispatch('homepage/fetchNewCollection'),
      store.dispatch('promoted/updateHeadImage'),
      store.dispatch('promoted/updatePromotedOffers')
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer && !from.name) { // Loading products to cache on SSR render
      next(vm =>
        vm.$store.dispatch('homepage/fetchNewCollection').then(res => {
          vm.loading = false
        })
      )
    } else {
      next()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);

.new-collection {
  @media (max-width: 767px) {
    padding-top: 0;
  }
}

.let-us-help-sec {
  .section {
    background-color: rgba($color-secondary, 0.2);
  }

  .let-us-help-title {
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: left;
    margin: 0;

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}
</style>
<style lang="scss">
.featured-items-sec {
  .title-sec {
    margin-bottom: 51px;
  }
  .product {

    .btn-outlined,
    .btn-full,
    .product__icons,
    .product-tile-title {
      display: none;
    }

    .product-cover__thumb {
      height: 339px;
    }
  }
  .product-listing-carousel-wrap {
    height: 100%;
  }
}
</style>
