<template>
  <button @click="isOnWishlist ? removeProductFromWhishList(product) : addProductToWhishlist(product)" class="btn-wishlist action pointer" type="button" data-testid="addToWishlist">
    <slot>
      <span class="wishlist-icon">
        <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path id="Path" fill-rule="evenodd" clip-rule="evenodd" d="M12.6364 1C15.0463 1 17 2.91878 17 5.28571C17 9.57027 9 16 9 16C9 16 1 9.57114 1 5.28571C1 2.91878 2.95367 1 5.36364 1C6.88183 1 8.21894 1.76148 9.00061 2.91676C9.78106 1.76148 11.1182 1 12.6364 1Z" fill="#A3A3A3" fill-opacity="0.1" stroke="#A3A3A3" stroke-width="1.5" />
        </svg>
      </span>
      <template v-if="!isOnWishlist">
        {{ $t('Add to favorite') }}
      </template>
      <template v-else>
        {{ $t('Remove') }}
      </template>
    </slot>
  </button>
</template>

<script>
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { AddToWishlist } from '@vue-storefront/core/modules/wishlist/components/AddToWishlist'
import { RemoveFromWishlist } from '@vue-storefront/core/modules/wishlist/components/RemoveFromWishlist'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'

export default {
  mixins: [ IsOnWishlist, AddToWishlist, RemoveFromWishlist ],
  computed: {
    favoriteIcon () {
      return this.isOnWishlist ? 'favorite' : 'favorite_border'
    }
  },
  methods: {
    addProductToWhishlist (product) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('Product {productName} has been added to wishlist!', { productName: htmlDecode(product.name) }),
        action1: { label: i18n.t('OK') }
      }, { root: true })
      this.addToWishlist(product)
    },
    removeProductFromWhishList (product) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('Product {productName} has been removed from wishlist!', { productName: htmlDecode(product.name) }),
        action1: { label: i18n.t('OK') }
      }, { root: true })
      this.removeFromWishlist(product)
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);

.btn-wishlist {
  padding: 0;
  border: 0 none;
  background-color: transparent;

  .wishlist-icon {
    width: 40px;
    height: 40px;
    background-color: $white;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba($black, 0.3);
    padding: 12px 10px;
    display: inline-block;

    &.product__icon--active,
    &:hover {
      background-color: $color-secondary;
      color: $white;

      svg {
        path {
          stroke: $white;
        }
      }
    }
  }

}
</style>
