// Colors
// ======
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://www.color-blindness.com/color-name-hue/

// General colors palette
$colors: (
  transparent: transparent,
  black: #000,
  white: #fff,
  white-smoke: #f2f2f2,
  gainsboro: #e0e0e0,
  silver: #bdbdbd,
  gray: #828282,
  suva-gray: #8e8e8e,
  matterhorn: #4f4f4f,
  burnt-sienna: #eb5757,
  buccaneer: #755,
  forest-green: #308c14,
  puerto-rico: #4dba87,
  mine-shaft: #333,
  gray-333435: #333435,
  cyan-67B6C3: #67B6C3,
  cyan-9ed0d9: #9ed0d9,
  gray-D8D8D8: #D8D8D8,
  gray-666666: #666666,
  pink-EB8097: #EB8097,
  gray-DBDBDB: #DBDBDB,
  gray-F5F5F5: #F5F5F5,
  gray-A3A3A3: #A3A3A3,
  gray-DDDDDD: #DDDDDD
);

// Theme generic colors
// Key: name of color
// Value: color value or map with default, hover, focus color values
$colors-theme: (
  primary: (
    default: map-get($colors, gray-333435),
    hover: map-get($colors, suva-gray)
  ),
  secondary: (
    default: map-get($colors, cyan-67B6C3),
    hover: map-get($colors, cyan-9ed0d9),
  ),
  accent: (
    default: map-get($colors, matterhorn),
    hover: map-get($colors, black),
  ),
  tertiary: map-get($colors, silver),
  success: map-get($colors, puerto-rico),
  warning: map-get($colors, buccaneer),
  error: map-get($colors, burnt-sienna)
);

$colors-border: (
  primary: map-get($colors, gray-333435),
  secondary: map-get($colors, cyan-67B6C3),
);

$colors-background: (
  primary: (
    default: map-get($colors, gray-333435),
    hover: map-get($colors, suva-gray)
  ),
  secondary: (
    default: map-get($colors, cyan-67B6C3),
    hover: map-get($colors, cyan-9ed0d9)
  ),
  tertiary: map-get($colors, suva-gray)
);
