<template>
  <section class="main-slider w-100 bg-cl-white cl-white">
    <no-ssr>
      <carousel
        :per-page="1"
        :per-page-custom="[[768, 2], [992, 3]]"
        :navigation-enabled="true"
        navigation-prev-label="<img src='assets/rounded-arrow-left.svg'>"
        navigation-next-label="<img src='assets/rounded-arrow-right.svg'>"
        :pagination-enabled="false"
        pagination-active-color="#ffffff"
        pagination-color="#e0e0e0"
      >
        <slide v-for="(slide, index) in slides" :key="index">
          <div class="slide-wrap w-100" v-lazy:background-image="slide.image">
            <div class="row bottom-xs center-xs">
              <div class="col-md-12 p30">
                <router-link :to="localizedRoute(slide.link)" :title="slide.button_text" class="no-underline main-slider-btn">
                  {{ slide.button_text }}
                  <img class="ml10" src="assets/right-arrow-white.svg" alt="Right Arrow">
                </router-link>
              </div>
            </div>
          </div>
        </slide>
      </carousel>
    </no-ssr>
  </section>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import sliderData from 'theme/resource/slider.json'
import ButtonOutline from 'theme/components/theme/ButtonOutline'

export default {
  data () {
    return {
      currentSlide: 1,
      slides: [],
      totalSlides: 1
    }
  },
  components: {
    ButtonOutline,
    'Carousel': () => import('vue-carousel').then(Slider => Slider.Carousel),
    'Slide': () => import('vue-carousel').then(Slider => Slider.Slide),
    'no-ssr': NoSSR
  },
  methods: {
    updateSliderData (data) {
      this.slides = data.slides
      this.totalSlides = data.total
    }
  },
  mounted () {
    setInterval(() => {
      this.currentSlide = (this.currentSlide + 1) % (this.totalSlides)
    }, 5000)
  },
  created () {
    this.updateSliderData(sliderData)
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-white: color(white);

.main-slider {
  .VueCarousel-navigation-button {
    width: 42px;
    height: 42px;
    margin: 0 !important;
    padding: 0 !important;

    &.VueCarousel-navigation-prev {
      transform: translateY(-50%) translateX(25px);
    }

    &.VueCarousel-navigation-next {
      transform: translateY(-50%) translateX(-25px);
    }

    &.VueCarousel-navigation--disabled {
      opacity: 0.5;
    }

    &.VueCarousel-navigation-button:focus {
      outline: 0 none;
    }
  }

  .VueCarousel-pagination {
    position: absolute;
    bottom: 15px;
  }
  .VueCarousel-dot--active .VueCarousel-dot-inner {
    border: 2px solid $color-white;
    margin-top: -2px;
  }
}
</style>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);
$white: color(white);

h1 {
  font-size: 72px;
}
.main-slider {
  height: 640px;
}
.slide-wrap {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.row {
  height: 640px;
}
@media (max-width: 75em) {
  .main-slider {
    height: 400px;
  }
  .title {
    font-size: 50px;
  }
  .subtitle {
    font-size: 20px;
  }
  .row {
    height: 400px;
  }
}
@media (max-width: 64em) {
  .main-slider {
    height: 359px;
  }
  .slide-wrap {
    background-position: left;
  }
  .title {
    font-size: 48px;
  }
  .subtitle {
    font-size: 18px;
  }
  .button {
    font-size: 16px;
  }
  .row {
    height: 359px;
  }
}

.main-slider-btn {
  font-size: 14px;
  font-weight: 600;
  color: $white;
  background-color: rgba($color-primary, 0.9);
  border-radius: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 11px 51px;

  &:hover {
    background-color: rgba($color-secondary, 0.9);
  }
}
</style>
