<template>
  <div class="relative">
    <div class="hidden-xs">
      <div class="search-group flex">
        <input
          class="search-input f-s-14 weight-500"
          :placeholder="$t('Search here')"
          type="search"
          v-model="search"
          @input="makeSearch"
          @focus="openSearchBox"
          @blur="closeSearchBox"
        >
        <div class="btn-search">
          <img src="~theme/assets/search.svg" alt="Search" class="search-icons">
          <span class="ml10 f-s-14 cl-white weight-500 block">{{ $t('Search') }}</span>
        </div>
      </div>
    </div>
    <div class="hidden-md flex middle-xs">
      <button
        type="button"
        class="bg-cl-transparent brdr-none inline-flex p10"
        @click="toggleSearchpanel"
      >
        <img src="~theme/assets/search.svg" alt="Search" class="search-icons">
      </button>
    </div>
    <div class="search-lists bg-cl-white absolute w-100 mt5" v-if="isSeachBoxOpen">
      <search-result :search-result="visibleProducts" />
    </div>
    <div class="overlay fixed w-100" @click="openSearchBox" v-if="isVisible" />
  </div>
</template>

<script>
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon'
import SearchPanel from '@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel';
import SearchResult from './SearchResults';

export default {
  mixins: [SearchIcon, SearchPanel],
  components: {
    SearchResult
  },
  props: {
    isMobileSearch: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data () {
    return {
      isSeachBoxOpen: false,
      isVisible: false
    };
  },
  watch: {
    $route (to, from) {
      this.isSeachBoxOpen = false;
      this.isVisible = false;
    }
  },
  computed: {
    visibleProducts () {
      const productList = this.products || [];
      return productList;
    }
  },
  methods: {
    openSearchBox () {
      this.isVisible = !this.isVisible;
      this.isSeachBoxOpen = !this.isSeachBoxOpen;
    },
    openMobileSearchBox () {
      this.$bus.$emit('open-search-input');
    },
    closeSearchBox () {
      this.isSeachBoxOpen = false;
      this.isVisible = false;
    }
  }
};
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-secondary: color(secondary);

.search-lists {
  .search-table {
    a {
      color: $color-primary;

      &:hover {
        color: $color-secondary;
      }
    }
  }
}
</style>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-D8D8D8: color(gray-D8D8D8);
$white: color(white);
$color-primary: color(primary);
$color-secondary: color(secondary);

.search-group {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  border: 1px solid $white;
  background-color: $white;

  input {
    border: 0 none;
    height: 40px;
    line-height: 40px;
    // color: $gray-D8D8D8;
    padding: 0 16px;
    flex-grow: 1;
    flex-basis: 0;

    &:focus {
      outline: 0 none;
    }
  }

  .btn-search {
    padding: 10px;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    background-color: $color-secondary;
    width: 97px;
  }
}
.search-lists {
  border-radius: 6px;
  overflow: hidden;
  z-index: 9;
  color: $color-primary;
}
</style>
