<template>
  <div class="p20">
    <table class="search-table w-100" v-if="displayResult.length > 0">
      <tr v-for="product of displayResult" :key="product.id" class="brdr-bottom-1 brdr-cl-gray-DDDDDD">
        <td class="py10">
          <div class="s-p-image">
            <product-image :image="getProductImage(product)" />
          </div>
        </td>
        <td class="py10">
          <div class="s-p-name f-s-16">
            <router-link
              class="block no-underline product-link"
              :to="getSearchProductUrl(product)"
              data-testid="productSearch"
            >
              {{ product.name }}
            </router-link>
            <span class="f-s-16 cl-black-666666 block">500 gm</span>
          </div>
        </td>
        <td class="py10">
          <div class="s-p-price">
            <span
              class="price-special lh30 weight-700 f-s-18 mr15 cl-green-95BF47"
              v-if="product.special_price && parseFloat(product.special_price) > 0"
            >
              {{ product.price_incl_tax | price(storeView) }}
            </span>

            <span
              class="lh30 cl-green-95BF47 f-s-18 mr15"
              v-if="
                !product.special_price && parseFloat(product.price_incl_tax) > 0
              "
            >{{ product.price_incl_tax | price(storeView) }}</span>

            <span
              class="price-original mr5 lh30 cl-price-line-through cl-gray-AAAAAA f-s-16"
              v-if="
                product.original_price_incl_tax !== product.price_incl_tax &&
                  parseFloat(product.original_price_incl_tax) > 0
              "
            >{{ product.original_price_incl_tax | price(storeView) }}</span>
          </div>
        </td>
        <!-- <td class="py10">
          <div class="s-p-qty">
            <qty-select />
          </div>
        </td> -->
        <td class="py10">
          <div class="s-p-add-cart">
            <add-to-cart :product="product" :key="1" />
          </div>
        </td>
      </tr>
    </table>
    <div class="s-p-viewmore pt20 align-center" v-if="searchLength < searchResult.length">
      <router-link
        class="block no-underline product-link f-s-18"
        :to="'/'"
      >
        {{ 'View More' }}&nbsp;<i class="fa fa-arrow-right" aria-hidden="true" />
      </router-link>
    </div>
    <div class="align-center" v-if="displayResult.length === 0">
      <p class="f-s-16">
        {{ 'No results were found.' }}
      </p>
    </div>
  </div>
</template>
<script>
import ProductImage from 'theme/components/core/ProductImage.vue';
// import ProductPrice from 'theme/components/core/ProductPrice';
// import QtySelect from "theme/components/core/blocks/Form/QtySelect.vue";
import AddToCart from 'theme/components/core/AddToCart';
import { productThumbnailPath } from '@vue-storefront/core/helpers';
import config from 'config';
import { currentStoreView } from '@vue-storefront/core/lib/multistore';
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers';

export default {
  name: 'SearchResult',
  props: {
    searchResult: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      searchLength: 5
    };
  },
  components: {
    ProductImage,
    // ProductPrice,
    // QtySelect,
    AddToCart
  },
  computed: {
    storeView () {
      return currentStoreView();
    },
    displayResult () {
      return this.searchResult.slice(0, this.searchLength);
    }
  },
  methods: {
    getProductImage (product) {
      let thumbnailPath = productThumbnailPath(product);
      let thumbnail = this.getThumbnail(
        thumbnailPath,
        config.products.thumbnails.width,
        config.products.thumbnails.height
      );
      return {
        src: thumbnail,
        loading: thumbnail
      };
    },
    getSearchProductUrl (product) {
      return formatProductLink(product, currentStoreView().storeCode);
    }
  }
};
</script>
<style lang="scss" scoped>
.search-table {
  border-collapse: collapse;
}
.s-p-image {
  max-width: 100%;
  width: 61px;
  height: auto;
}
.price-original {
  text-decoration: line-through;
}
</style>
